/* * {
  box-sizing: border-box;
}
.container {
  display: flex;
  border: 2px solid red;
  width: 100vw;
  height: 400px;
  flex-direction: row;
}

.child {
  background-color: darkkhaki;
  border: 3px solid black;
  width: 200px;
  height: 200px;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* .container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 500px 200px;
  border: 2px solid red;
  width: 100vw;
  height: 400px;
}
/* maximum 12 columns can be used */
/* .child {
  background-color: darkkhaki;
  border: 3px solid black;
  width: 200px;
  height: 200px;
} */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}
.header {
  text-align: center;
}

.card {
  border: 3px solid black;
}

.img-container img {
  width: 8rem;
  height: 8rem;
}
.row {
  display: flex;
  flex-direction: row;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hyperlink {
  margin-left: 1.5rem;
}
